# Core Django and REST Framework
Django==5.2.5
djangorestframework==3.16.1
django-cors-headers==4.7.0
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
sqlparse==0.5.3
tzdata==2025.2

# Deployment
gunicorn==23.0.0

# Google Gemini AI SDK
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-api-core==2.25.1
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.71.2
proto-plus==1.26.1
protobuf==5.29.5
cachetools==5.5.2

# Utils & dependencies
requests==2.32.5
regex==2025.8.29
urllib3==2.5.0
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
colorama==0.4.6
packaging==25.0
PyJWT==2.10.1
oauthlib==3.3.1
requests-oauthlib==2.0.0

# Optional (light)
pillow==11.3.0
numpy

